<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="mobi.semparar.mixpanel"
        version="2.0.6">

    <name>Mixpanel</name>

    <description>
        Mixpanel Cordova Plugin for iOS and Android
    </description>

    <repo>https://github.com/mobii/mixpanel-cordova.git</repo>
    <author>Sam Zilverberg</author>
    <keywords>mixpanel, cordova, phonegap, ionic, plugin, ios, android</keywords>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <js-module src="www/mixpanel.js" name="Mixpanel">
        <clobbers target="window.plugins.mixpanel"/>
    </js-module>

    <platform name="android">

        <!-- config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="android-package" value="mobi.semparar.cordova.mixpanel.MixpanelPlugin"/>
            </feature>
        </config-file>

        <!-- Plugin files -->

        <source-file src="src/android/MixpanelPlugin.java" target-dir="src/android"/>
        <source-file src="src/libs/mixpanel-android-4.6.3.aar" target-dir="libs/"/>

        <!-- Strings.xml -->
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="com_mixpanel_android_next">Próxima questão</string>
            <string name="com_mixpanel_android_previous">Questão anterior</string>
            <string name="com_mixpanel_android_logo">Por Mixpanel</string>
            <string name="com_mixpanel_android_exit">Sair</string>
            <string name="com_mixpanel_android_close">Fechar</string>
            <string name="com_mixpanel_android_done">Feito</string>
            <string name="com_mixpanel_android_notification_image">Imagem indisponível</string>
            <string name="com_mixpanel_android_survey_prompt_dialog_title">Seria um prazer ter sua participação!</string>
            <string name="com_mixpanel_android_survey_prompt_dialog_message">Gostaria de responder nossa pesquisa?</string>
            <string name="com_mixpanel_android_sure">Sim</string>
            <string name="com_mixpanel_android_no_thanks">Não</string>
        </config-file>
        <!-- AndroidManifest.xml -->
        <!-- see https://github.com/mixpanel/mixpanel-android/blob/master/platforms/main/AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <meta-data android:name="com.mixpanel.android.MPConfig.ResourcePackageName" android:value="$PACKAGE_NAME" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.mixpanel.android.surveys.SurveyActivity"
                android:theme="@style/com_mixpanel_android_SurveyActivityTheme"/>
            <receiver
              android:name="com.mixpanel.android.mpmetrics.GCMReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action  android:name="com.google.android.c2dm.intent.RECEIVE"/>
                    <action  android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                    <category  android:name="$PACKAGE_NAME"/>
                </intent-filter>
            </receiver>
		</config-file>
        <framework src="com.google.android.gms:play-services-base:7.0.0+" />
        <framework src="com.google.android.gms:play-services-gcm:7.0.0+" />
    </platform>


    <platform name="ios">

        <!-- config.xml -->
        <config-file target="config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="ios-package" value="MixpanelPlugin"/>
            </feature>
        </config-file>

        <!-- Plugin files-->
        <header-file src="platforms/ios/MixpanelPlugin.h"/>
        <source-file src="platforms/ios/MixpanelPlugin.m"/>

        <!-- Mixpanel sdk files-->
        <source-file src="platforms/ios/Mixpanel/MPSurvey.storyboard" />
        <source-file src="platforms/ios/Mixpanel/MPNotification.storyboard" />

        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerChangeRequestMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerChangeResponseMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerClearRequestMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerClearResponseMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerConnection.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerDeviceInfoRequestMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerDeviceInfoResponseMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerDisconnectMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerSnapshotRequestMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerSnapshotResponseMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerTweakRequestMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPABTestDesignerTweakResponseMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPAbstractABTestDesignerMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPApplicationStateSerializer.h" />
        <header-file src="platforms/ios/Mixpanel/MPCategoryHelpers.h" />
        <header-file src="platforms/ios/Mixpanel/MPClassDescription.h" />
        <header-file src="platforms/ios/Mixpanel/MPDesignerEventBindingMessage.h" />
        <header-file src="platforms/ios/Mixpanel/MPDesignerSessionCollection.h" />
        <header-file src="platforms/ios/Mixpanel/MPEnumDescription.h" />
        <header-file src="platforms/ios/Mixpanel/MPEventBinding.h" />
        <header-file src="platforms/ios/Mixpanel/MPLogger.h" />
        <header-file src="platforms/ios/Mixpanel/MPNotification.h" />
        <header-file src="platforms/ios/Mixpanel/MPNotificationViewController.h" />
        <header-file src="platforms/ios/Mixpanel/MPObjectIdentifierProvider.h" />
        <header-file src="platforms/ios/Mixpanel/MPObjectIdentityProvider.h" />
        <header-file src="platforms/ios/Mixpanel/MPObjectSelector.h" />
        <header-file src="platforms/ios/Mixpanel/MPObjectSerializer.h" />
        <header-file src="platforms/ios/Mixpanel/MPObjectSerializerConfig.h" />
        <header-file src="platforms/ios/Mixpanel/MPObjectSerializerContext.h" />
        <header-file src="platforms/ios/Mixpanel/MPPropertyDescription.h" />
        <header-file src="platforms/ios/Mixpanel/MPSequenceGenerator.h" />
        <header-file src="platforms/ios/Mixpanel/MPSurvey.h" />
        <header-file src="platforms/ios/Mixpanel/MPSurveyNavigationController.h" />
        <header-file src="platforms/ios/Mixpanel/MPSurveyQuestion.h" />
        <header-file src="platforms/ios/Mixpanel/MPSurveyQuestionViewController.h" />
        <header-file src="platforms/ios/Mixpanel/MPSwizzler.h" />
        <header-file src="platforms/ios/Mixpanel/MPTweak.h" />
        <header-file src="platforms/ios/Mixpanel/MPTweakInline.h" />
        <header-file src="platforms/ios/Mixpanel/MPTweakInlineInternal.h" />
        <header-file src="platforms/ios/Mixpanel/MPTweakStore.h" />
        <header-file src="platforms/ios/Mixpanel/MPTypeDescription.h" />
        <header-file src="platforms/ios/Mixpanel/MPUIControlBinding.h" />
        <header-file src="platforms/ios/Mixpanel/MPUITableViewBinding.h" />
        <header-file src="platforms/ios/Mixpanel/MPValueTransformers.h" />
        <header-file src="platforms/ios/Mixpanel/MPVariant.h" />
        <header-file src="platforms/ios/Mixpanel/MPWebSocket.h" />
        <header-file src="platforms/ios/Mixpanel/Mixpanel.h" />
        <header-file src="platforms/ios/Mixpanel/NSData+MPBase64.h" />
        <header-file src="platforms/ios/Mixpanel/NSInvocation+MPHelpers.h" />
        <header-file src="platforms/ios/Mixpanel/UIColor+MPColor.h" />
        <header-file src="platforms/ios/Mixpanel/UIImage+MPAverageColor.h" />
        <header-file src="platforms/ios/Mixpanel/UIImage+MPImageEffects.h" />
        <header-file src="platforms/ios/Mixpanel/_MPTweakBindObserver.h" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerChangeRequestMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerChangeResponseMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerClearRequestMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerClearResponseMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerConnection.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerDeviceInfoRequestMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerDeviceInfoResponseMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerDisconnectMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerSnapshotRequestMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerSnapshotResponseMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerTweakRequestMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPABTestDesignerTweakResponseMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPAbstractABTestDesignerMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPApplicationStateSerializer.m" />
        <source-file src="platforms/ios/Mixpanel/MPBOOLToNSNumberValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPCATransform3DToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPCGAffineTransformToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPCGColorRefToNSStringValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPCGPointToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPCGRectToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPCGSizeToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPClassDescription.m" />
        <source-file src="platforms/ios/Mixpanel/MPDesignerEventBindingRequestMesssage.m" />
        <source-file src="platforms/ios/Mixpanel/MPDesignerEventBindingResponseMesssage.m" />
        <source-file src="platforms/ios/Mixpanel/MPDesignerTrackMessage.m" />
        <source-file src="platforms/ios/Mixpanel/MPEnumDescription.m" />
        <source-file src="platforms/ios/Mixpanel/MPEventBinding.m" />
        <source-file src="platforms/ios/Mixpanel/MPNSAttributedStringToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPNSNumberToCGFloatValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPNotification.m" />
        <source-file src="platforms/ios/Mixpanel/MPNotificationViewController.m" />
        <source-file src="platforms/ios/Mixpanel/MPObjectIdentityProvider.m" />
        <source-file src="platforms/ios/Mixpanel/MPObjectSelector.m" />
        <source-file src="platforms/ios/Mixpanel/MPObjectSerializer.m" />
        <source-file src="platforms/ios/Mixpanel/MPObjectSerializerConfig.m" />
        <source-file src="platforms/ios/Mixpanel/MPObjectSerializerContext.m" />
        <source-file src="platforms/ios/Mixpanel/MPPassThroughValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPPropertyDescription.m" />
        <source-file src="platforms/ios/Mixpanel/MPSequenceGenerator.m" />
        <source-file src="platforms/ios/Mixpanel/MPSurvey.m" />
        <source-file src="platforms/ios/Mixpanel/MPSurveyNavigationController.m" />
        <source-file src="platforms/ios/Mixpanel/MPSurveyQuestion.m" />
        <source-file src="platforms/ios/Mixpanel/MPSurveyQuestionViewController.m" />
        <source-file src="platforms/ios/Mixpanel/MPSwizzler.m" />
        <source-file src="platforms/ios/Mixpanel/MPTweak.m" />
        <source-file src="platforms/ios/Mixpanel/MPTweakInline.m" />
        <source-file src="platforms/ios/Mixpanel/MPTweakStore.m" />
        <source-file src="platforms/ios/Mixpanel/MPTypeDescription.m" />
        <source-file src="platforms/ios/Mixpanel/MPUIColorToNSStringValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPUIControlBinding.m" />
        <source-file src="platforms/ios/Mixpanel/MPUIEdgeInsetsToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPUIFontToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPUIImageToNSDictionaryValueTransformer.m" />
        <source-file src="platforms/ios/Mixpanel/MPUITableViewBinding.m" />
        <source-file src="platforms/ios/Mixpanel/MPVariant.m" />
        <source-file src="platforms/ios/Mixpanel/MPWebSocket.m" />
        <source-file src="platforms/ios/Mixpanel/Mixpanel.m" />
        <source-file src="platforms/ios/Mixpanel/NSData+MPBase64.m" />
        <source-file src="platforms/ios/Mixpanel/NSInvocation+MPHelpers.m" />
        <source-file src="platforms/ios/Mixpanel/UIColor+MPColor.m" />
        <source-file src="platforms/ios/Mixpanel/UIImage+MPAverageColor.m" />
        <source-file src="platforms/ios/Mixpanel/UIImage+MPImageEffects.m" />
        <source-file src="platforms/ios/Mixpanel/_MPTweakBindObserver.m" />

        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPArrowLeft.imageset/MPArrowLeft.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPArrowLeft.imageset/MPArrowLeft@2x.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPArrowRight.imageset/MPArrowRight.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPArrowRight.imageset/MPArrowRight@2x.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPCheckmark.imageset/MPCheckmark.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPCheckmark.imageset/MPCheckmark@2x.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPCloseBtn.imageset/MPCloseBtn.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPCloseBtn.imageset/MPCloseBtn@2x.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPDismissKeyboard.imageset/MPDismissKeyboard.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPDismissKeyboard.imageset/MPDismissKeyboard@2x.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPLogo.imageset/MPLogo.png" />
        <source-file src="platforms/ios/Mixpanel/Media.xcassets/MPLogo.imageset/MPLogo@2x.png" />

        <!-- Push -->
        <header-file src="platforms/ios/AppDelegate+mixpanel.h" />
        <source-file src="platforms/ios/AppDelegate+mixpanel.m" />

        <resource-file src="platforms/ios/Mixpanel/Media.xcassets" />

        <!-- compiler-flags="-licucore" -->
        <source-file src="platforms/ios/Mixpanel/libMPCategoryHelpers.a" framework="true"/>


        <!-- Mixpanel sdk requires frameworks -->
        <!--see https://github.com/mixpanel/mixpanel-iphone/blob/master/Mixpanel.podspec-->
        <framework src="Accelerate.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="Security.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="libicucore.dylib" />


    </platform>
</plugin>
